<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hero Library</title>
    <link rel="stylesheet" href="home.css">
</head>
<body>
<h1>Welcome to Hero Library!</h1>
<button>click here for logout</button>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus alias consequatur consequuntur, dicta dolores doloribus ea exercitationem fugiat magnam magni minus molestiae nam natus nisi nostrum quod ratione similique vero.</p>

<input id="input" type="text">
<button onclick="getBooks()">Get Books</button>
<br>
<div id="output"></div>

</body>
<script src="home.js" async></script>
</html>